# Node
node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# IDE
.vscode/
.idea/
*.sublime-workspace

# Build
/dist
/tmp
/out-tsc
/bazel-out

# System
.DS_Store
Thumbs.db

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Credentials
login_credentials.txt